<footer>
    <div class="f-info f-bgm">
        <div class="f-info-icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="f-name">
           <a href="/blog" style="color: white ; text-decoration: none;">@ Narra de Nada!</a>
        </div>
        <div class="f-info-links" >
            <a  class="f-policy" href="/privacy" target="_blank" rel="noopener noreferrer">privacy</a>
            <a class="f-policy" href="/terms" target="_blank" rel="noopener noreferrer">terms</a>
        </div>
    </div>
</footer>