<% layout("/layouts/boilerplate.ejs") -%>


    <h2>Login</h2>
    <div class="row">
        <div class="col-2 offset-0">
            <div class="newForm">
                <form action="/user/login" method="post" novalidate class="needs-validation">
                    <div class="mb-3 login-color">
                        <label  for="username" class="form-label">Username</label>
                        <input type="text" required name="username" placeholder="Enter Username" id="username"
                            class="form-control">
                    </div>
                    <div class="mb-3 login-color">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" required name="password" placeholder="Enter password" id="password"
                            class="form-control">
                    </div>
                    <br>
                    <center><button class="btn btn-primary btn-sm">Login</button></center>
                </form>
            </div>
        </div>
    </div>